.url-list {
  background-color: #fff;
  width: 700px;
  margin: 20px auto 0px auto;
  padding: 3px 20px 3px 20px;
  border-radius: 5px;
}

.delete-button {
  background-color: #ef7c7a;
  color: #fff;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 0 10px;
  border: 0;
}
